extend ../layout/layout1
block content
  h1 Transactions
  a.badge.badge-primary.mb-3(href="/transactions/create") Create
  table.table.table-dark
    tr
      th Title book
      th Status
      th Action
    each transaction,index in transactions
      tr
        td=books[index]
        if transaction.isComplete === false
          td Incomplete
        else
          td Complete
        td
          a.badge.badge-primary(href="./transactions/"+transaction._id+"/complete") complete



